.feed {
    padding-bottom: 71px;
    &__item {
        display: flex;
        align-items: flex-start;
        margin-top: 70px;
        &:nth-child(n+3) {
            margin-top: 100px;
        }

    }
    &__img {
        display: block;
        margin-right: 62px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        text-align: left;
        color: #0d0d0d;
    }
    &__count {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #646464;
        margin-top: 10px;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
        margin-top: 19px;
    }
}